<section class="max-w-4xl mx-auto">
  @if (user()) {
    <div class="breadcrumbs">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/profile">Profile</a></li>
      </ul>
    </div>

    <h1 class="heading mb-6">Hello, {{ user().displayName }}</h1>

    <div class="bg-base-200 rounded-2xl mb-10 p-6 lg:p-10">
      <div class="lg:float-right flex items-center gap-6 mb-6">
        @if (isAdmin()) {
          <button class="btn bg-base-100 text-primary hover:bg-base-100 px-8">
            <i><svg class="w-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg"  data-name="Layer 1" viewBox="0 0 24 24"><path d="m16.298,8.288l1.404,1.425-5.793,5.707c-.387.387-.896.58-1.407.58s-1.025-.195-1.416-.585l-2.782-2.696,1.393-1.437,2.793,2.707,5.809-5.701Zm7.702,3.712c0,6.617-5.383,12-12,12S0,18.617,0,12,5.383,0,12,0s12,5.383,12,12Zm-2,0c0-5.514-4.486-10-10-10S2,6.486,2,12s4.486,10,10,10,10-4.486,10-10Z"/></svg></i>
            <span>Admin</span>
          </button>
        }
        @else {
          <button class="btn bg-base-100 text-primary hover:bg-base-100 px-8">
            <i><svg class="w-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg"  data-name="Layer 1" viewBox="0 0 24 24"><path d="m16.298,8.288l1.404,1.425-5.793,5.707c-.387.387-.896.58-1.407.58s-1.025-.195-1.416-.585l-2.782-2.696,1.393-1.437,2.793,2.707,5.809-5.701Zm7.702,3.712c0,6.617-5.383,12-12,12S0,18.617,0,12,5.383,0,12,0s12,5.383,12,12Zm-2,0c0-5.514-4.486-10-10-10S2,6.486,2,12s4.486,10,10,10,10-4.486,10-10Z"/></svg></i>
            <span>Authenticated</span>
          </button>
        }
        <button class="btn btn-error px-8" (click)="logout()">
          <i></i>
          <span>Logout</span>
        </button>
      </div>

      <div class="grid gap-2 mb-6">
        <div class="flex items-center gap-4">
          <span>Email:</span>
          <span>{{ user().email }}</span>
        </div>
        <div class="flex items-center gap-4">
          <span>Joined:</span>
          <span>{{ formatDate(user().created) }}</span>
        </div>
      </div>

      @if (isAdmin()) {
        <button class="btn btn-primary px-8" routerLink="/airplanes">View airplanes</button>
      }
    </div>

    <h1 class="heading mb-6">Your Bookings</h1>

    <div class="bg-base-200 rounded-2xl mb-10 p-6 lg:p-10">
      @if (user().bookings) {

      }
      @else {
        <p class="mb-6">You do not have any bookings yet!</p>
        <button class="btn btn-primary px-8" routerLink="/bookings/new-booking">Book new flight</button>
      }
    </div>
  }
</section>