@tailwind base;
@tailwind components;
@tailwind utilities;

@import './utilities.scss';
@import './components.scss';

html, html::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

section {
  min-height: 25rem;
  animation: page 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
  
  @keyframes page {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}
