@layer utilities {
  .font-body {
    font-family: "Inter", sans-serif;
  }

  .font-heading {
    font-family: "Montserrat", sans-serif;
  }

  .custom-shadow {
    box-shadow: 0 0 10px #43669d22;
  }
}
